html{font-family:'Dosis',sans-serif;padding:0;margin:0}
footer{background-color:#d7d7d7;padding:.5em 0}
.masthead{background-color:#d7d7d7}
.logo{max-width:250px;margin:0 auto;}
.nav{text-align:center;margin-top:1.5rem}
.nav a{margin:0 1em;color:#000;text-decoration:none;border-bottom:none}
a{color:#000;text-decoration:none;border-bottom:3px solid #f2eb43}
a:hover{color:grey;text-decoration:none}
.list-group__item{display:inline-block;border:solid #f2eb43;border-width:0;padding:.5em 1em;margin:0;font-family:'Abril Fatface',cursive;letter-spacing:2px}
.list-group__item a:hover{color:#fff}
.sign{border:solid #f2eb43;border-width:4px;}
.needbo{border-radius:20px 0 20px 20px;border:3px solid #000;background-color:#f2eb43}
.needbo:hover{-moz-box-shadow:0 0 20px #ccc;-webkit-box-shadow:0 0 2px #ccc;box-shadow:0 0 20px #6d6d6d}
.newli{border:none}
.bar{text-align:center;background-color:rgba(255,255,255,0.7);position:relative;bottom:100px;padding-bottom:10px}
.imgbox:hover{-moz-box-shadow:0 0 20px #ccc;-webkit-box-shadow:0 0 2px #ccc;box-shadow:0 0 20px #6d6d6d;border-radius:30px 0 30px 30px}
.imgbox{border-radius:30px 0 30px 30px;border:4px solid #000;background-color:#000}
.imgbox-2:hover{-moz-box-shadow:0 0 20px #ccc;-webkit-box-shadow:0 0 2px #ccc;box-shadow:0 0 20px #6d6d6d;border-radius:30px 0 30px 30px}
.suc h3{line-height:1.5}
.pro{background-color:#e0e0e0;border:none}
h4{background-color:#f2eb43}
.greyb{background-color:#f3f3f3}
.group{font-family:"Dosis",sans-serif}
.fieldset{border:none}
.profile{border-radius:100px 0 100px 100px}
.back{background-color:#f3f3f3}
.icon-button{background-color:#fff;border-radius:10px 0 10px 10px;display:inline-block;height:3.6rem;line-height:3.6rem;margin:0 5px;font-size:1em;position:relative;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:3.6rem}
.icon-button span{border-radius:0;display:block;height:0;left:50%;margin:0;position:absolute;top:50%;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;width:0}
.icon-button:hover span{width:3.6rem;height:3.6rem;border-radius:10px 0 10px 10px;margin:-1.8rem;background-color:#000}
.icon-button i{background:none;height:3.6rem;left:0;line-height:3.6rem;position:absolute;top:0;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;width:3.6rem;z-index:10}
footer a:hover{color:#fff}
label{display:block;cursor:pointer}
input + label{display:inline}
input{background-color:#fff;border-radius:5px 0 5px 5px}
button{border:4px solid #000;border-radius:30px 0 30px 30px;font-size:3rem;cursor:pointer;background-color:#fff;padding:.5em}
input :valid{border:3px solid #ff0}
fieldset{border:none}
input,select,textarea{padding:.5em;background-color:#fffff4}
textarea:focus,input:focus{background-color:#fff}

@media only screen and (min-width: 30em) {

.list-group__item{border:solid #f2eb43;border-width:0 0 0 4px}
.tour{-webkit-align-items:flex-end;-ms-align-items:flex-end;align-items:flex-end}
.bar{bottom:160px}
.sign{border:solid #f2eb43;border-width:4px;}
}
@media only screen and (min-width: 35em) {
.tour{-webkit-align-items:flex-start;-ms-align-items:flex-start;align-items:flex-start}
.sign{border:solid #f2eb43;border-width:4px;}
}
@media only screen and (min-width: 50em) {
.logo{margin:0}

.list-group__item{border:solid #f2eb43;border-width:0 0 0 4px}
.nav{text-align:right;margin-top:0}
.tour{-webkit-align-items:flex-start;-ms-align-items:flex-start;align-items:flex-start}
.sign{border:solid #f2eb43;border-width:4px;}
}
